# MacOS
.DS_Store

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
*.venv
env/
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Otros archivos temporales
*.log
